/tutorial/
/url/
/eshell/
/.cask/
/cache/.emacs.desktop.lock
/cache/bookmarks
/cache/ido-list
/cache/emacs-desktop
/themes/color-theme.el
/.mc-lists.el
/config/projectile-settings.el
/projectile-bookmarks.eld
/var/
