recentf
/tutorial/
/url/
/eshell/
/.cask/
/cache/
/.litter/
/!.litter/temp/.empty
/themes/color-theme.el
/projectile-bookmarks.eld
/.mc-lists.el
/.sx/
/var/
/projectile.cache
/tramp
/image-dired/icon128_55a3fde6a9df4128cfa50b12448e9bac.thumb.png
/elpa/
/image-dired/
/nov-places
/.DS_Store
/straight
/elisp/settings.el